@import "tailwindcss";

:root {
  --background: #E4E6EC;
  --foreground: #4D505C;
  --card: #F9F9FB;
  --blue-base: #2C46B1;
  --blue-dark: #2C4091;

  --white: #FFFFFF;
  --gray-100: #F9F9FB;
  --gray-200: #E4E6EC;
  --gray-300: #CDCFD5;
  --gray-400: #74798B;
  --gray-500: #4D505C;
  --gray-600: #1F2025;

  --danger: #B12C4D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-blue-base: var(--blue-base);
  --color-blue-dark: var(--blue-dark);
  --color-white: var(--white);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-danger: var(--danger);

  --font-sans: "Open Sans", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-xs {
  font-size: 0.625rem;
  line-height: 0.875rem;
  text-transform: uppercase;
}

.text-sm {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-base {
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.text-xl {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

html, body {
  font-family: var(--font-sans);
}